# Node modules
node_modules/

# Environment files (dove puoi mettere email e password)
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output (se ci fosse una cartella build)
build/
dist/
